# Dependencies
node_modules/
.pnp
.pnp.*

# Build & Dist outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# OS & IDE Files
.DS_Store
*.pem
.vscode/
.idea/

# Local Environment & Secrets
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
